*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}

h1,h2,h3{
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

p{
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}  

.voulcan__description{
    margin: 30px;
    font-family: 'Roboto', sans-serif ;
}

.description__articles{
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    
}

img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  max-width: 100%;
  height: auto
}

.contact__form{
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}


footer{
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}




.site__title{
    background-color: brown;
    font-family:'Playfair Display', serif;
    color: rgb(31, 32, 34);
    text-shadow: 2px 2px rgb(219, 205, 205);
    text-align: center;
}
.navegacion{
    width: 1800px;
    margin: 30px ;
    background-color: whitesmoke;

}

.navegacion ul{
    list-style: none;
}

.navegacion__menu > li{
    position: relative;
    display: inline-block;
}

.navegacion__menu > li > a{
    display: block;
    padding: 15px 20px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.navegacion__menu li a:hover{
    color:red;   
}

/* Submenu 1*/

.navegacion__menu__art1__submenu{
    position: absolute;
    background-color: rgb(52, 53, 53);;
    width: 120%;
    display: none;
}
.navegacion__menu__art1__submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navegacion__menu li:hover .navegacion__menu__art1__submenu{
    display: block;
}

/* Submenu 2*/

.navegacion__menu__art2__submenu{
    position: absolute;
    background-color: rgb(52, 53, 53);
    display: none;
}
.navegacion__menu__art2__submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navegacion__menu li:hover .navegacion__menu__art2__submenu{
    display: block;
}

/* Submenu 3*/

.navegacion__menu__art3__submenu{
    position: absolute;
    background-color: rgb(52, 53, 53);
    display: none;
}
.navegacion__menu__art3__submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navegacion__menu li:hover .navegacion__menu__art3__submenu{
    display: block;
}
/* Submenu 4*/
.navegacion__menu__art6__submenu{
    position: absolute;
    background-color: rgb(52, 53, 53);;
    display: none;
}
.navegacion__menu__art6__submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navegacion__menu li:hover .navegacion__menu__art6__submenu{
    display: block;
}

/*Estilo tabla contacto*/

.form{
    width:340px;
    height:300px;
    background:#e6e6e6;
    border-radius:8px;
    margin: 30px;
    padding:20px 30px;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;;
    position:relative;
}

input{width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family: 'Roboto', sans-serif;;
    transition:all .3s;border-bottom:2px solid #bebed2
}

button{
    float:right;
    padding:8px 12px;
    margin:8px 120px 0;
    font-family: 'Roboto', sans-serif;;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
}
