*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}

h1,h2,h3{
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

p{
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: justify;
    
    
}  

/* .voulcan__description{
    margin: 30px;
    font-family: 'Roboto', sans-serif ;
} */

.description__articles{
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    
    
}



.contact__form{
    display: flex;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    
    
}


footer{
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}




.site-title{
    background-color: rgb(165, 42, 42);
    font-family:'Playfair Display', serif;
    color: rgb(31, 32, 34);
    text-shadow: 2px 2px rgb(219, 205, 205);
    text-align: center;
    
}
.navegacion{
    padding: 15px;
    margin: 30px;
}



.navegacion ul{
    list-style: none;
    
    
}

.navegacion__in-flex__navegacion-menu  li{
    position: relative;
    display: inline-block;
    background-color:rgb(165, 42, 42);
    margin: 5px;

    padding: 4px 4px;

    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: small;
}

.navegacion__in-flex__navegacion-menu  > li > a{
    display: flex;
    padding: 4px 4px;
    margin: 2px;
    color: rgb(51, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: small;
}
.navegacion__in-flex__navegacion-menu li a:hover{
    color:rgb(196, 52, 52);   
}

/*ocultamos los submenus porque en dispositivo movil funcionan mal*/
.navegacion__in-flex__navegacion-menu__art1__submenu,.navegacion__in-flex__navegacion-menu__art2__submenu,.navegacion__in-flex__navegacion-menu__art3__submenu,.navegacion__in-flex__navegacion-menu__art5__submenu{
    display: none;
}

input{
    
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family: 'Roboto', sans-serif;
    transition:all .3s;border-bottom:2px solid #bebed2;
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

button{
    float:right;
    display: flex;
    padding:8px 12px;
    font-family: 'Roboto', sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    float:none; 

    
}

footer{
    text-decoration:solid;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    margin: 20px;
} 


/*Diseño responsive*/

/* description responsive */

.voulcan-description{
    display: flex;
}

.voulcan-description__in-flex{
    flex: 1;
    padding: 25px;
}

.voulcan-description__in-flex div{
    
    padding: 25px;
    background-color: white;
    margin: 20px;
    
}

/* responsive articles */

.description-articles{
    max-width: 100%;
    display: flex;
}

.description-articles__in-flex{
    flex: 1;
    padding: 25px;
}

.description-articles__in-flex div{
    
    padding: 25px;
    background-color: white;
    margin: 20px;
    
}

/* responsive contact-form */




/*Images responsive*/

img{
    max-width: 100%;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(15, 15, 15, .5);
    margin: auto;
    position: relative;
    display: block;
    padding: 5px;
    width: 300px;
    height: 250px;
    
}
